<ion-tabs #tabs (ionTabsDidChange)="getCurrentTab($event)">
  <ion-tab-bar>
    <ion-tab-button tab="home">
      <ion-icon [name]="currentTab() === 'home' ? 'home' : 'home-outline'"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="users">
      <ion-icon [name]="currentTab() === 'users' ? 'people' : 'people-outline'"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="stats">
      <ion-icon [name]="currentTab() === 'stats' ? 'calendar' : 'calendar-outline'"></ion-icon>
    </ion-tab-button>

    <!-- Remplacer account par profile -->
    <ion-tab-button tab="profile">
      <ion-icon [name]="currentTab() === 'profile' ? 'person' : 'person-outline'"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>